{% extends 'base/base.html'%}

{% block title %} Update homestay {% endblock %}
{% block content %}
    <div class="flex justify-center items-center min-h-screen bg-gray-100 dark:bg-gray-900 ">
        <div class="w-full max-w-8xl p-8 bg-white border border-gray-200 rounded-lg shadow-xl dark:bg-gray-800 dark:border-gray-700" >
            <p class = 'text-center text-gray-900 text-5xl dark:text-white font-bold font-mono pb-5'> Chỉnh sửa </p>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-6">
                    <div>
                        <label for="homestay_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tên homestay</label>
                        {{form.homestay_name}}
                    </div>
                </div>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="price_per_night" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Số lượng phòng</label>
                        {{form.total_rooms}}
                    </div>
                    <div>
                        <label for="total_rooms" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">giá tiền 1 đêm</label>
                        {{form.price_per_night}}    
                    </div>
                </div>
                <div class="mb-6">

                    <div>
                        <label for="tinh_tp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tỉnh Tp</label>
                        {{form.tinh_tp}}
                    </div>
                    <div>
                        <label for="quan_huyen" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quân Huyện </label>
                        {{form.quan_huyen}}
                    </div>
                    <div>
                        <label for="xa_phuong" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Xã Phường </label>
                        {{form.xa_phuong}}
                    </div>

                    <div>
                        <label for="homestay_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">địa chỉ </label>
                        {{form.homestay_address}}
                    </div>
                    <div>
                        <label for="decription" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">mô tả</label>
                        {{form.decription}}
                    </div>
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
                        <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file" name="images" multiple>
                        <!-- <input type="file" name="images" multiple> -->
                    </div>
                    <div>
                        <br>
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                    </div>
                </div>
            </form>

            <!-- <div class="grid grid-cols-2 md:grid-cols-6 gap-4 m-8 ">
                {% for img in images %}
                        <div>
                            <a class="my-2 px-3 py-1 bg-red-500 text-white rounded-lg flex justify-center" href="{% url 'delete-image' img.id %}"> xóa ảnh </a>
                            <img class="h-auto max-w-full rounded-lg mb-5" src="{{ img.image.url }}" alt="" width="300px" height="300px">
                        </div>
                {% endfor %}
            </div> -->


            <div x-data="{ open: false, imageSrc: '' }">
                <!-- Ảnh nhỏ -->
                <div class="grid grid-cols-2 md:grid-cols-6 gap-4 m-8 ">
                    {% for img in images %}
                        <div>
                            <a class="my-2 px-3 py-1 bg-red-500 text-white rounded-lg flex justify-center" href="{% url 'delete-image' img.id %}"> xóa ảnh </a>
                            <img src="{{ img.image.url }}" 
                            alt="Homestay" 
                            class="w-64 cursor-pointer rounded-lg hover:opacity-80 transition h-auto max-w-full rounded-lg mb-5"
                            @click="open = true; imageSrc = $event.target.src">    
                        </div>
                    {% endfor %}
                </div>

                <!-- Overlay + Ảnh lớn -->
                <div x-show="open" 
                     class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 p-4"
                     @click="open = false">
                    <img :src="imageSrc" alt="Zoomed Image" class="max-w-3xl rounded-lg">
                </div>
            </div>
            





        </div>
    </div>
{% endblock %} 
