{% extends "base/base.html" %}
{% block title %} show homestay {% endblock %}


{% block content %} 

    <section>
        

<div id="gallery" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
         <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
        </div>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>

    </section>

    <div class="p-4 sm:ml-4">
        <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
            {% for homestay in homestays %}
                <div class="block max-w p-6 bg-white border border-gray-200 rounded-lg shadow-sm  dark:bg-gray-800 dark:border-gray-700  flex justify-between items-center">
                    <li><b>Tên homestay: </b>  {{homestay.homestay_name}} </li>
                </div>
                <div class="block max-w p-6 bg-white border border-gray-200 rounded-lg shadow-sm  dark:bg-gray-800 dark:border-gray-700  flex justify-between items-center">
                    <li><b>Chủ sở hữu: </b> {{homestay.owner}}</li>
                </div>
                <div class="block max-w p-6 bg-white border border-gray-200 rounded-lg shadow-sm  dark:bg-gray-800 dark:border-gray-700  flex justify-between items-center">
                    <li><b>Địa chỉ: </b> {{homestay.homestay_address}}</li>
                </div>
                <div class="block max-w p-6 bg-white border border-gray-200 rounded-lg shadow-sm  dark:bg-gray-800 dark:border-gray-700  flex justify-between items-center">
                    <li><b>giá 1 đêm: </b> {{homestay.price_per_night}}</li>
                </div>
                <div class="block max-w p-6 bg-white border border-gray-200 rounded-lg shadow-sm  dark:bg-gray-800 dark:border-gray-700  flex justify-between items-center">
                    <li><b>Số lượng phòng: </b> {{homestay.total_rooms}}</li>
                </div>
                <div class="block max-w p-6 bg-white border border-gray-200 rounded-lg shadow-sm  dark:bg-gray-800 dark:border-gray-700  flex justify-between items-center">
                    <li><b>Mô tả: </b>{{homestay.decription}}</li>
                </div>
                <div class="block max-w p-6 bg-white border border-gray-200 rounded-lg shadow-sm  dark:bg-gray-800 dark:border-gray-700  flex justify-between items-center">
                    <li><b>Thời gian tạo: </b> {{homestay.created_at}}</li>
                </div>
            {% endfor %}

        </div>
    </div>


    <br>
    <br>    

    <div class="grid grid-cols-2 md:grid-cols-6 gap-4 m-8">
        {% for img in images %}
                <div>
                    <img class="h-auto max-w-full rounded-lg mb-5" src="{{ img.image.url }}" alt="" width="300px" height="300px">
                    <a class="mt-2 px-3 py-1 bg-red-500 text-white rounded-lg flex justify-center" href="{% url 'delete-image' img.id %}"> xóa ảnh </a>
                </div>
        {% endfor %}
    </div>
    

    


{% endblock %}
